<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Weather</title>
</head>

<body class="container rounded" style="border:solid 5px  rgb(0, 155, 13) ;
min-height: 100vh;
border-radius: 10px;
box-shadow: 0px 0px 15px black;
transition: all 0.3s;
">
    <div class="jumbotron" style="background-color: black; color: rgb(0, 155, 13);margin-top:10px; ">
        <h1>Welcome to Wethr</h1>
    </div>

    <div style="font-size: large;color:black">
        <ul>
            <li>Here you can get weather details of any location.</li>
            <li>Simple fill logitude and latitude value of location.</li>
            <li> You can also get weather of your location.</li>
        </ul>


    </div>
    <br><br>
    <form action="/wform" method="POST">
        <div class="form-group">
            <label class="control-label" style=' color: rgb(0, 155, 13)'>Longitude :</label>
            <input type="text" class="form-control" name="lon" id="long" style="max-width: 250px;box-shadow: 0px 0px 10px black;">
        </div>
        <div class="form-group">
            <label class="control-label" style=' color: rgb(0, 155, 13)'>Latitude :</label>
            <input type="text" class="form-control" name="lat" id="lat" style="max-width: 250px;box-shadow: 0px 0px 10px black;">
        </div>
        <button class="btn btn-info" style="background-color: black; color: rgb(0, 155, 13);font-size: large;" type="Submit">Get Weather</button>
    </form>



    <br><br>

    <div id="ready"></div>






    <script>
        var x = document.getElementById("ready");


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser or you don't allow location.";
        }


        function showPosition(position) {
            x.innerHTML = '<h1 style="color:black">For Current location Weather. </h1> <div class="btn btn-info" style="background-color: black; color: rgb(0, 155, 13);font-size: large;" onclick="getLocation()"><a href="/weather/' + position.coords.latitude + '/' + position.coords.longitude + '"" style="text-decoration: none;color: rgb(0, 155, 13)">Weather of Current Loaction</a></div>'
        }
    </script>



</body>

</html>